*{
	padding: 0;
}
.contenedor{
	display: flex;
	justify-content: safe center;
	text-align: center;
	border-radius: 5px;
	height: 800px;
}

.contenedor-aura{
        box-shadow: 10px 12px #111111;
	border-radius: 5px;
	border: 2px solid #000;
	width: 400px;
	height: 500px;
}
button{
	position: relative;
	height: 35px;
	width: 110px;
	font-size: 20px;
}
#si{
}

p.p1{
    position: relative;
    top: 400px;
    left: 500px;
    width: 100px;
}
p.p1:hover{
    background: gray;
    cursor: pointer;
}